<!--<div class="ngx-hrz-norm" style="margin-left: 15px;">
  <p>{{ title }}</p>
    <ngx-charts-bar-vertical style="position: absolute !important;"
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [animations]="animations"
    [showDataLabel]="showDataLabel"
    [dataLabelFormatting] = "formatDataLabel"
    (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
    </div>-->

    <div class="ngx-hrz-norm" >
      <p>{{ title }}</p>
    <ngx-charts-bar-horizontal style="position: absolute !important;"
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [animations] = "animations"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [showDataLabel]="showDataLabel"
          [roundEdges] = "roundEdges"
          [dataLabelFormatting] = "formatDataLabel"
          (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
    </div>
