<!--<p style="text-align: center; margin-bottom: -1rem">{{ title }}</p>
<div echarts [options]="chartOption" class="demo-chart-line"
(chartClick)="onChartEvent($event, 'chartClick')">

</div>-->
<!--<ngx-charts-bar-horizontal style="position: absolute !important;"
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-horizontal>-->

<ngx-charts-bar-horizontal style="position: absolute !important;"
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-horizontal>
<!--transform="translate(170 , 10)"-->