<div class="ngx-hrz-norm" >
  <p>{{ title }}</p>
  <ngx-charts-bar-horizontal-2d style="position: absolute !important;"
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showDataLabel]="showDataLabel"
        [roundEdges] = "roundEdges"
        (select)="onSelect($event)">
</ngx-charts-bar-horizontal-2d>
  </div>
